body{
  margin: 0px;
  background-image: url('../img/Fondo_Proyectos2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.registrarse {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  
  .registrarse .overlap-group {
    position: absolute;
    width: 345px;
    height: 610px;
    top: 217px;
    left: 794px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .registrarse .overlap {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 497px;
    left: 28px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }

  .registrarse .input_conf_pass{
    position: absolute;
    width: 210px;
    height: 10px;
    left: 10px;
    top: 10px;
    outline: none;
    border: 0px;
  }

   .registrarse .input_pass{
    position: absolute;
    width: 210px;
    height: 10px;
    left: 10px;
    top: 10px;
    outline: none;
    border: 0px;
  }
  .registrarse .element-eye-icon {
    top: 5px;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 250px;
  }


  .registrarse .element-eye-icon, #eye-icon.closed-eye, #conf_eye-icon.closed-eye {
    position: absolute;
    width: 23px; 
    height: 23px; 
    top: 8px;
    left: 250px;
    background-size: cover; 
   }
  
  .registrarse .text-wrapper {
    top: 9px;
    position: absolute;
    width: 243px;
    left: 9px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .registrarse .rectangle-2 {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }
  
.overlap-2 {
    width: 284px;
    height: 35px;
    top: 431px;
    left: 28px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
}
  
  .registrarse .img {
    top: 5px;
    position: absolute;
    width: 26px;
    height: 23px;
    left: 252px;
  }
  
  .registrarse .text-wrapper-2 {
    top: 8px;
    position: absolute;
    width: 243px;
    left: 9px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.text-wrapper-3 {
    width: 61px;
    top: 89px;
    left: 29px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.text-wrapper-4 {
  top: 54px;
  left: 102px;
  background: linear-gradient(180deg, rgb(207, 241, 255) 0%, rgb(149, 158, 241) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: 2.64px;
  line-height: normal;
  white-space: nowrap;   
}
  
  .registrarse .rectangle-3 {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 113px;
    left: 29px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }

  .registrarse .input_nombre {
  position: absolute;
  width: 260px;
  height: 20px;
  left: 10px;
  top: 8px;
  outline: none;
  border: 0px;
  }

.text-wrapper-7 {
  width: 243px;
  top: 286px;
  left: 29px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
  
  .registrarse .rectangle-4 {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 174px;
    left: 28px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }

  .registrarse .input_apellido {
    position: absolute;
    width: 260px;
    height: 20px;
    left: 10px;
    top: 8px;
    outline: none;
    border: 0px;
    }
  
  .registrarse .rectangle-5 {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 367px;
    left: 29px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }

  .registrarse .input_licencia {
    position: absolute;
    width: 260px;
    height: 20px;
    left: 10px;
    top: 10px;
    outline: none;
    border: 0px;
  }
  
  .registrarse .rectangle-6 {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 240px;
    left: 29px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }

  .registrarse .input_email {
    position: absolute;
    width: 260px;
    height: 20px;
    left: 10px;
    top: 10px;
    outline: none;
    border: 0px;
  }
  
  .registrarse .rectangle-7 {
    position: absolute;
    width: 284px;
    height: 35px;
    top: 304px;
    left: 28px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c9c9c9d9;
  }

.content-buttons{
  display: flex; 
  align-items: center;
  align-content: center;
  justify-content: center;
}

  
.div-wrapper {
   width: 284px;
  height: 40px;
  background-color: #959ef1;
  border-radius: 6px;
  border: none;
}
.div-wrapper:hover { /* Estilos para cuando el cursor pase por el boton ingresar */
  background-color: #3a517463; 
}
  
.text-wrapper-11 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
}
 
  